# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file


# Unix-style newlines with a newline ending every file
# Matches multiple files with brace expansion notation
# Set default charset
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[{*.yml}]
indent_style = space
indent_size = 2

[*.txt]
end_of_line = lf

[*.md]
trim_trailing_whitespace = false

[*.php]
indent_style = tab
indent_size = 2

[*.js]
indent_style = space
indent_size = 2
quote_type = single

[*.jsx]
indent_style = space
indent_size = 2
quote_type = single

[*.html]
indent_style = tab
indent_size = 2
